body {
  background-color: rgba(0, 0, 0, 0.8);
}

.container {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
}

.gap {
  margin: 10px !important;
  flex-direction: column;
}

.h3 {
  background-color: brown;
}
.bodyContainer {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100%;
}

.image {
  width: 100px;
  margin-top: 0px;
  padding-right: 10px;
}

.right {
  float: right;
}

.infoContainer {
  /* padding: 0 !important; */
}

.information {
  /* margin: 10px !important; */
}

@media (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
